.containerTopicos {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-bottom: 40px;
}

.topico {
    display: flex;
    gap: 30px;
}

.topico img {
    width: 100px;
}

.topicoTitulo {
    font-size: 17px;
    color: hsl(240, 100%, 5%);/*Very dark blue*/
    font-weight: 900;
    margin-bottom: 10px;
}

.topicoParagrafo {
    font-size: 15px;
    color:  hsl(236, 13%, 42%); /*Dark grayish blue*/
    line-height: 1.7;
}

.numero {
    color: hsl(233, 8%, 79%);/*Grayish blue*/
    font-size: 26px;
    margin-bottom: 10px;
}